#loader {
    visibility: hidden;
    width: 120px;
    height: 22px;
    border-radius: 40px;
    color: #000478;
    border: 2px solid;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .loader::before {
    content: "";
    position: absolute;
    margin: 2px;
    width: 25%;
    top: 0;
    bottom: 0;
    left: 0;
    border-radius: inherit;
    background: currentColor;
    animation: l3 1s infinite linear;
  }
  .cpntainer{
    display: block;
  }
  @keyframes l3 {
    50% { left: 100%; transform: translateX(calc(-100% - 4px)); }
  }
  



footer{
    margin-top: 70px;
    background-color: #00293f;
    color: white;
    padding: 20px;
    width: 100svw;
    justify-content: flex-end;
    align-content: flex-end;
}
.ppic a img {
    border-radius: 100px;
    width: 3em; /* Set width to fill the container */
    height: 3em; /* Maintain aspect ratio */
    position: relative;
     /* Float the image to the right */
    border: 1px solid rgb(214, 214, 214);
    top: 1;
    right: 1;
}
.ppic a img:hover {
    box-shadow: 1px 1px 8px #0077B6;
    border: none;
}
.ppic a {
    position: relative;
    width: 200px; /* Set width to a specific value or adjust as needed */
    height: 20px; /* Set height to match the width for a square aspect ratio */
    overflow: hidden; /* Ensure image doesn't overflow the container */
    top: 1;
}

input{
    background-color:#F5F5FF ;
    border: none;
    outline: none;
    
}
.method{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    align-content: stretch;
}
.metl, .metr{
    flex: 1;
}
input::placeholder{
    color: #757575;
    text-align: center;
}
.lass{
    padding: 10px 10px 10px 1opx ;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 20px;
}

body{
    height: 100svh;
    width: auto;
    display: block;
    margin: 0;
    padding: 0;
}
.container{
    height: 100svh;
    width: 100vw;
    position: relative;
    display: grid;
    padding: 10px 0 10px ;
}
.topnav{
    display: flex;
    margin: 20px 20px 10px 10px;
    justify-content: space-between;
    flex: 1;
    width: 100%;
    height: fit-content;
    flex-direction: row;
    flex-shrink: 1;
}
.logo{
    flex: 1;
    float: left;
}
.rolmid{
    flex-direction: unset;
    flex: 2;
    margin-left: 44px ;
}
.ppic{
    flex: 2;
    float: right;
    position: relative;
    align-self: flex-start;
    float: right;
}
.rolmid ul{
    list-style: none;
    display: flex;
    white-space: nowrap;
    color: #020231;
}
.rolmid ul li{
    margin: 0 10px 0 10px ;
    padding-left: 10px ;
}
.rolmid ul li a{
    color: #020231;
    margin-top: 10px;
}
.rolmid ul li a:hover{
    text-decoration: none;
    background-color: #0077B6;
    padding: 4px ;
    border-radius: 4px ;
    color: white;
}
.prompt{
    animation-name: prompt;
    animation-duration: 1.3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
}
@keyframes prompt{
    0% { transform: rotate(0deg) scale(0.1);}
    30% {transform: rotate(320deg) scale(0.5);}
    100% { transform: rotate(360deg) scale(1);}
}
@keyframes cashAnimation {
    from { background-color: white;
    opacity: 0;
    transform: translateY(-100vh) scale(0.5);
    }
    30% {  color: rgb(0, 81, 87);}
    to { background-color: #0077B6; color: white; 
    opacity: 100;}
}

.animateCash {
    animation-name: cashAnimation;
    animation-duration: 0.8s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
}



.ppic a img {
    border-radius: 100px;
    width: 3em; /* Set width to fill the container */
    height: 3em; /* Maintain aspect ratio */
    position: relative;
     /* Float the image to the right */
    border: 1px solid rgb(214, 214, 214);
    top: 1;
    right: 1;
}
.ppic a img:hover {
    box-shadow: 1px 1px 8px #0077B6;
    border: none;
}
.ppic a {
    position: relative;
    width: 200px; /* Set width to a specific value or adjust as needed */
    height: 20px; /* Set height to match the width for a square aspect ratio */
    overflow: hidden; /* Ensure image doesn't overflow the container */
    top: 1;
}


.stage{
    display: flex;
    background-color: #f2f3f3;
    border-radius: 20px;
    margin-left: 10px ;
    margin-right: 10px ;
    padding-left: 10px ;
    padding-right: 10px;
    width: 100vw;
    margin-bottom: 0;
    width: 97vw;
}
.stage .here{
    background-color: #fbfbfb;
    border-radius: 30px;
    color: #03419f;
    box-shadow: 1px 1px 3px #0077B6;
    font-weight: bold;
    
}
.stage h2{
    background-color: #0077B6;
    padding-left: 40px ;
    padding-right: 20px ;
    padding-top: 10px;
    padding-bottom: 10px ;
    border-radius: 30px;
    color: white;
}
.stage h2:hover{
    box-shadow: 1px 1px 4px rgb(247, 161, 0);
}
.toptext h3{
    text-align: center;
    margin-bottom: 40px;
    font-weight: bold;
}
.details:hover{
    box-shadow: 2px 2px 4px rgb(177, 177, 177);
    padding-top: 20px ;
    padding-bottom: 10px;

}
.place{
     display: flex;
}
.pri1{
    text-align: left;
}
.pri2{
    text-align: center;
}
.pri3{
    text-align: right;
}
.pri1, .pri2, .pri3{
    font-size: 13px ;
    padding-left: 40px ;
    padding-right: 20px ;
    padding-top: 0;
    padding-bottom: 10px ;
    margin-top: 0;
}

.content{
    width: 99vw;
    display: block;
}

button:hover{
    box-shadow: 1px 1px 2px #ff3300;
    border: 2px solid rgb(255, 225, 55);
}
.submit .Proceed a{
    font-size: 20px;
    color: white; 
}
.submit .Proceed a:hover{
    text-decoration: none;
    font-weight: bold;
}
#form1:hover{
    box-shadow: 1px 1px 3px #636363;
    padding: 10px ;
}
.colom{
     max-width: 100vw;
    display: flex;
    flex: 1;
    position: relative;
    
}

.left{
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-right: 1em;
}
.locat{
    display: flex;
    flex-direction: row;
}
.press{
    display: flex;
    flex: 1;
}

.fieldet{
    display: flex;
    flex: 3;
    flex-direction: column;
}
.link{
    border: 1px sloid black;
    max-height: 10px;
    width: 2px;
}
.shape p img{
    height: 1.5em;
}
.doww{
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    
    align-items: flex-end;
    margin-bottom: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    padding-top: 0px;
}
.ldoww{
    text-align: left;
    flex: 1;
    margin-bottom: 0px;
    padding-bottom: 0px;
}
.left  hr{
    
    background-color: black;
    border: 0.5px solid black;
    color: black;
    width: 100%;
    margin: none;
    padding: none;
    margin-top: 0px;
    margin-bottom: 0px;
}
.right{
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-left: 1em;
}
.right hr{
    background-color: black;
    border: 0.5px solid black;
    color: black;
    width: 100%;
    margin: none;
    padding: none;
    margin-top: 0px;
    margin-bottom: 10px;
}

.rdoww{
    text-align: right;
    margin-bottom: 0px;
    padding-bottom: 0px;
}
.right p {
    border: 1px solid black;
    text-align: center;
    border-radius: 2px;
    padding-left: 4px;
    padding-right: 4px;
    white-space: nowrap;
}
.right p a img{
    height: 1em;
    width: auto;
}
.content{
    padding: 10px;
}
@media(max-width:768px){
    .colom{
        flex-direction: column;
    }
    .submit{
        text-align: center;
        border-radius: 10px;
        
    }
    .details{
        padding-right: 4px;
        min-width: 100vw;
    }
    .right{
    display: none;
    visibility: hidden;
        margin-top: 3rem;
        
    }
    .lass, .ggrd{
    display: flex;
        flex-direction: column;
       
    }
}
